@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Figtree", sans-serif;
    background-color: #fcfaf6;
    color: black; 
}

html, body {
    overflow-x: hidden; 
}



a:visited {
    color:white;
}

@media (max-width: 767px) {
    body {
        margin: 0;
        padding-bottom: 60px;
    }

    .title {
        margin-top: 50px;
    }

    .one {
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        width: 100%; 
    }

    .column {
        width: 100%; 
        padding: 0; 
    }

    .box {
        width: calc(100% - 40px); 
        margin: 10px 20px;
    }

    .day {
        font-size: 60px;    
    }

    .month {
        font-size: 30px;
    }

    .specialCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    body {
        margin-left: 110px;
        margin-right: 30px;
    }

    .title {
        margin-left: 150px;
        margin-top: 110px;
    }

    .row {
        margin-left: 70px;
        flex-direction: row;
    }

    .date-box .month {
        font-size: 2vh;
    }
}

.row {
    display: flex;
    margin-top: 20px;
    max-width: 100%;
}

.mainRow {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 10px;
    max-width: 100%;
}


h1 {
    text-align: center;
    font-size: 7vh;
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 150px;
}

p {
    text-align: center;
    color: #333;
}



.title {
    font-size: 8vh;
    text-align: left;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.centerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2ca773; 
    color: white; 
    padding: 15px;
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease;
    opacity: 1; 
    z-index: 1000; 
}

.toast.fade {
    opacity: 0; 
}



/* Boxes ======================================= */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: calc(100% - 60px); 
    margin-left: 60px;
    box-sizing: border-box;
}

.box {
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    background-color: #fdfcf9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.box h2, p {
    margin-top: 0;
}



.box:hover {
    transform: scale(1.05);
}

.long-box {
    min-width: 400px;
}

.big-box {
    min-width: 600px;
    min-height: 600px;
}

@media (max-width: 767px) {
    .container {
        margin-left: 0; 
        max-width: 100%;
    }

    .box {
        width: calc(100% - 40px);
    }

    
}


#myVideo {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.homeOverlay {
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.homeOverlay h1 {
    font-family: "Figtree";
    font-size: 9.5vw;
    color: white;
    text-align: center;
    margin: 0px;
}

.homeOverlay p {
    font-family: "Figtree";
    margin: 0px;
    font-size: 30px;
    color: white 
}

.homeButton{
    font-family: "Figtree";
    color: white;
    font-size: 60px;
    font-weight: bold;
    background-color: #148556;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px;
    width: 500px;
    margin: 5px;
    border: none;
    transition: all 0.5s;
}

.homeButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.homeButton span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.homeButton:hover span {
    padding-right: 45px;
}
  
.homeButton:hover span:after {
    opacity: 1;
    right: 0;
}


.date-box {
    font-size: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.quote-box p {
    font-size: 1.1em;
    font-style: italic;
    color: #666;
}


.animal-box img {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-height: 200px;
}

.animal-box h3 {
    margin-top: 10px;
    font-size: 4vh;
    margin-bottom: 10px;
}

.animal-box {
    text-align: center;
}

.animal-box h2 {
    font-weight: 500;
}

/* Resources box styling */
.resources-box ul {
    list-style-type: none;
    padding: 0;
}

.resources-box ul li {
    margin: 10px 0;
}

.resources-box ul li a {
    color: #1a73e8;
    text-decoration: none;
}

.resources-box ul li a:hover {
    text-decoration: underline;
}


