
.habit-page {
    position: relative;

    margin: 40px auto;
    width: calc(100% - 120px);
    max-width: 800px;
    height: calc(100% - 120px);
    min-height: 700px;
    padding: 40px 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f7f7f7;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .habit-page {
        width: 85%;
        height: 82vh;
        min-height: auto;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .habit-info {
        margin-bottom: 10px;
    }

    .weekly-calendar {
        width: 100%;
    }

    .calendar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }


}

@media (min-width: 768px) {
    .day {
        width: 50px;
        height: 50px;
        font-size: 16px; 
    }
}


.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    text-decoration: none;
}
.back-button i {
    color: #377cf1;
}

.back-button:hover {
    color: #377cf1;
}

.habit-icon {
    font-size: 100px;
    color: #377cf1;
    margin-bottom: 20px;
}

.habit-info {
    text-align: center;
}

.habit-info h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0px;
}



.habit-info p {
    font-size: 18px;
    color: #666;
    max-width: 600px;
}


.weekly-calendar {
    text-align: center;
}

.weekly-calendar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.calendar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.day {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ddd;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.day:hover {
    background-color: #377cf1;
    color: white;
    transform: scale(1.1);
}

.day.active {
    background-color: #377cf1;
    color: white;
}

.commit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #377cf1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s, pointer-events 0.3s;
}

.commit-button:disabled {
    background-color: #aaa;
}

